<h1>Welcome to Clock Angle<h1>
  <form action="/angle">
    <div class="form-group">
      <label for="time">What time do you want to calculate an angle for?</label>
      <input id="time" name="time" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Go</button>
  </form>
